html {
  font-family: sans-serif;
  background-color: #000;
  color: rgb(255, 255, 255);
  padding-top: 10px;
}

.body {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.content {
  min-height: 600px;
  margin: 0;
}

.title {
  margin: 0;
  font-size: 30px;
}

.textContainer {
  text-align: center;
  margin: 15px 0 0 0;
}

.textDescription {
  margin: 10px 0 0 0;
}

.form {
  margin: 15px 0 0 0;
  display: grid;
  justify-items: center;
}

.guessLabel {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

.guessField {
  margin-top: 15px;
  width: 130px;
  min-height: 60px;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}

.guessSubmit {
  margin: 15px 0 0 0;
  width: 240px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-bottom: 5px solid #e0121e;
  background: linear-gradient( 0deg, #ec212b, #fa7169);
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  border-radius: 100px 100px 100px 100px / 200% 200%;
}

.guessSubmit:hover {
  cursor: pointer;
}

.resultParas {
  margin-top: 20px;
  display: grid;
  justify-items: center;
  margin: 0;
}

.guesses {
  margin: 10px 0 0 0;
}

.lastResult {
  color: #ff0000;
  font-size: 30px;
  margin: 10px 0 0 0;
}

.resetButton {
  width: 240px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-bottom: 5px solid #e0121e;
  background: linear-gradient( 0deg, #ec212b, #fa7169);
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  padding: 18px;
  border-radius: 100px 100px 100px 100px / 200% 200%;
  opacity: 0;
}

.resetButton:hover {
  cursor: pointer;
}

.resetButtonVisible {
  opacity: 1;
}

.footer {
  margin-top: 10px;
}